<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329569788169-uekfnvcitesph04epav0blvvunmm4bkh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329569788169-uekfnvcitesph04epav0blvvunmm4bkh</string>
	<key>API_KEY</key>
	<string>AIzaSyBrTB9tVf5jN-OpJ1ZbqoB0ygtxMFgvFWo</string>
	<key>GCM_SENDER_ID</key>
	<string>329569788169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zoondia.rotg.staging</string>
	<key>PROJECT_ID</key>
	<string>rotg-4b61c</string>
	<key>STORAGE_BUCKET</key>
	<string>rotg-4b61c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329569788169:ios:f54003564787f24534f3d8</string>
</dict>
</plist>